.img-size {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid black;
}

.badge-size {
    margin-right: 0.7rem;
    font-size: 15px;
}

.my-name {
    color: red;
    transition:2s;

}

.my-name:hover {
    color:purple;
    font-size: 60px;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}


.portfolio-link {
  animation-duration: 10s;
  animation-delay: 2s;
  animation-iteration-count: 10;
}