.img-size {
    width: 100%;
    height: 200px;
    image-resolution:300dpi;  ;
}

.badge-size {
    margin-right: 0.7rem;
    font-size: 15px;
}

/* .portfolio-caption-size {
    height: 200px;

} */

.my-name {
    color: red;
    transition:2s;

}

.my-name:hover {
    color:purple;
    font-size: 60px;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}