body {
    background-color: beige;
}

.add-book {
    background-color: salmon;
    padding: 5px;
}

.book-to-update {
    color:red

}

.sort-name {
    cursor: pointer;
}

.page-numbers {
    display: inline;
}

.active-page {
   color:blue;
   background-color: yellow;
}

.disabled-button {
    color:lightgray;
    pointer-events: none;
    cursor: default;
}